contourpy==1.2.0
cycler==0.12.1
fonttools==4.50.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
paramiko==3.4.0
Pillow==10.2.0
pyparsing==3.1.2
PyQt5==5.15.10
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
